{% extends "base.html" %}
{% block title %}Detalles de Pokémon{% endblock title %}
{% block content %}
<h2>{{ pokemon.name }}</h2>
<p>Has elegido el Pokémon: <strong>{{ pokemon.name | capfirst }}</strong></p>
<h3>Características</h3>
<ul>
    <li>Tipo: {{ pokemon.type }}</li>
    <li>Peso: {{ pokemon.weight }} kg</li>
    <li>Altura: {{ pokemon.height }} cm</li>
    <li>Entrenador: {{ pokemon.trainer }}</li>
</ul>

<div>
    <a href="{% url 'pokedex:edit_pokemon' pk=pokemon.id %}" class="btn btn-primary">
        <i class="fa-solid fa-pencil"></i> Editar Pokémon
    </a>
    <a href="{% url 'pokedex:delete_pokemon' pk=pokemon.id %}" class="btn btn-danger">
        <i class="fa-solid fa-trash"></i> Eliminar Pokémon
    </a>
</div>
<br>
<a href="/" class="btn btn-secondary">Regresar</a>
{% endblock content %}