{% extends "base.html" %}
{% block title %}Pokedex{% endblock title %}
 
{% block content %}
    <div class="text-center my-4">
        <h1 class="display-4">Bienvenido a la Pokedex</h1>
        <p>Selecciona un Pokemon para ver más detalles:</p>
    </div>
 
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for pokemon in pokemons %}
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="{{ pokemon.picture.url }}" class="card-img-top" alt="Imagen de {{ pokemon }}">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ pokemon | capfirst }}</h5>
                        <p class="card-text"><strong>Entrenador:</strong> {{ pokemon.trainer }}</p>
                        <p class="card-text"><strong>Peso:</strong> {{ pokemon.weight }} kg</p>
                        <p class="card-text"><strong>Altura:</strong> {{ pokemon.height }} m</p>
                        <p class="card-text"><strong>Tipo:</strong> {{ pokemon.type }}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-around">
                        <a href="pokemon/{{ pokemon.id }}" class="btn btn-primary">
                            <i class="fa-solid fa-eye"></i> Ver
                        </a>
                        <a href="{% url 'pokedex:edit_pokemon' pk=pokemon.id %}" class="btn btn-primary">
                            <i class="fa-solid fa-pencil"></i> Editar
                        </a>
                        <a href="{% url 'pokedex:delete_pokemon' pk=pokemon.id %}" class="btn btn-danger">
                          <i class="fa-solid fa-trash"></i> Borrar
                        </a>    
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
 