{% extends "base.html" %}
{% block title%}Pàgina Inicial{% endblock title %}
{% block content %}
<h3>pokemon</h3>
  <ul class="list-group">
       {%for pokemon in pokemons %}
      <li class= list-group-item">
           <a href="{{pokemon.id}}">{{pokemon | capfirst }}</a>
      </li>
       {% endfor %}
  </ul>
  <h3>Entrenadores</h3>
  <ul class="list-group">
      {% for trainer in trainers %}
      <li class= list-group-item">
          <a href=trainer/"{{trainer.id}}">{{ trainer | capfirst }}<a/>
      </li>
      {% endfor %}
  </ul>
{% endblock content %}